@page
@model azure_app_oves.Pages.DeploymentSlots
@{
    ViewData["Title"] = "DeploymentSlots";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome To First Deployment Slots
    </h1>
    <h3>
        Deployment Slot
    </h3>
</div>